#!/bin/bash

export GITHUB_PRIVATE_KEY_FILE_PATH=~/.ssh/id_rsa
export TCI_SERVER_TITLE_TEXT='TCI'
export TCI_SERVER_TITLE_COLOR=orange
export TCI_BANNER_COLOR=darkblue
export JENKINS_HTTP_PORT_FOR_SLAVES=8080
export JENKINS_SLAVE_AGENT_PORT=50000
#export TCI_HOST_IP=
