#!/bin/bash

export TCI_MASTER_VERSION='tikalci/tci-master-minimal:lts'
export TCI_HOST_IP=*
export JENKINS_HTTP_PORT_FOR_SLAVES=8080
export JENKINS_SLAVE_AGENT_PORT=50000
export TCI_CUSTOMIZATION_FOLDER='cust'
export JENKINS_ENV_EXECUTERS=0
export TCI_MASTER_TITLE_TEXT='TCI'
export TCI_MASTER_TITLE_COLOR=orange
export TCI_MASTER_BANNER_COLOR=darkblue
